/*importing playfair from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

:root{
    --primary-color: #312e2e;
    --main-color: #deab5f;
} 

/*utility style*/
button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #100e0f;
}

/*navigation star*/

nav{
    color: #fff;
    display:flex;
    justify-content: space-around;
    align-items: center; /*will make the nav part come to center of box*/
    font-family: sans-serif;
    padding-top: 15px;

}
li{
    display: inline;/*will make the listed nav part like home etc to one line*/
    list-style: none;
}
li a{
    text-decoration: none;
    color: #fff;
    margin-left: 40px;

}
li a:hover{
    border-bottom:2px solid var(--main-color);
}
/*navigation ending*/
/*header area starting*/
header{
    background: url(images/pexels-nao-triponez-129207.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-weight: normal;
    /*flexbox*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    position:relative;
    text-align: center;
    font-family: "Playfair Display SC", serif;
}
.main-heading{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
}
.primary-heading{
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing:10px;
    margin-bottom: -40px
}
.mn-btn{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top:20px;
    transform: translateY(60px);
    background: transparent;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}

/*our story start*/
#our-story{
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 400px;
    height: 400px;
    background: url(images/pexels-chitokan-2183027-removebg-preview\ \(2\).png);
    background-position: center;
    background-size: cover;
}

.title-style{
    display: flex;
    align-items: center;

}
.title{
    font-family: "Playfair Display SC", serif;
    font-size: 4rem;
    color: #fff;
    transform: translateX(-100px);    

}
.line {
    width: 100px;
    height: 2px;
    background: #fff;
    transform: translateX(-120px);
}
.section-content p {
    max-width: 500px;
    color: #fff;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
  }
  /*our story end*/

  /*next iage and info start*/
  .coffee-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10rem;

  }

  .content-section p {
    max-width: 500px;

  }
  .img-container{
    width: 500px;
    height: 400px;   
  }
.img-2{
    height: 400px;
    width:400px;

}
.title-two {
    font-size: 3rem;
    color: #fff;
    font-family: "Playfair Display SC", serif;
    font-weight: normal;
  }
  
  .content-section p {
    color: white;
    margin-top: 20px;
    font-family: sans-serif;
  }
  .product{
    margin-top: 5rem;
  }
.title-three{
    font-size: 4rem;
    margin-left: 14rem;
    margin-top: 10rem;
    margin-bottom: 10rem ;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card{
    border: 2px solid var(--main-color);
    padding: 0 20px;
    height:400px;
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 4 rem;


}

.card-img{
    width:125px;
    height: 125px;
    position: absolute;
    top: -60px;
}

.img-one{
    background: url(Images/1.png);
    background-position: center;
    background-size: cover;
}
.img-two{
    background: url(Images/2.png);
    background-position: center;
    background-size: cover;
}
.img-three{
    background: url(Images/3.png);
    background-position: center;
    background-size: cover;
}
.card-title{
    color: #fff;
    font-family: sans-serif;
    margin-top: 50px;
}
.card .items p{
    color: #fff;
    margin: 20px 0;
    font-family: sans-serif;
    

}
/*product ends*/
/*footer starts*/
footer{
    height:50vh;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    font-family: sans-serif;
    color:#fff;
}
footer .container{
    margin: 20px;
    max-width: 300px;
    text-align:center;
}
footer .heading-info{
    margin-bottom:20px;
}
footer p{
    line-height: 25px;

}
span{
    color: var(--main-color);
}
.para{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    font-family: sans-serif;
    color:#fff;
    padding: 10px 0;

}
hr{
    margin-top:40px;
    color: var(--main-color);
    width: 100vw;


}
/*responsiveness*/
@media only screen and(max-width: 768px) {
    .main-heading,.primary-heading{
        font-size: 2.5rem;

    }
    #our-story .title{
        transform: translateX(50px);
    }
    #our-story .line{
        display: none;
    }
    .content-section {
        text-align: center;
      }
    
      #our-story .img-container .img {
        width: 70%;
        text-align: center;
        margin: 0 auto;
      }
    
      .coffee-container .img-container {
        margin-top: 5rem;
        width: 50%;
      }
    
      hr {
        width: 400px;
      }
    
      .hr-second {
        display: none;
      }
    
      .para {
        margin-top: 10rem;
      }
    }


